<% die1 = rand(1..6) %>
<% die2 = rand(1..6) %>
<% total = die1 + die2 %>

<h1> Let's roll some dice! </h1>

<p> Die one: <%= die1 %> </p>
<img src="/images/dice/<%=die1%>.svg">

<p> Die two: <%= die2 %> </p>
<img src="/images/dice/<%=die2%>.svg">

<h1> The total is: <%= total%> </h1>

<a href="/dice"> Play again! </a>
